.border {
    border: 1px solid rgba(255, 0, 0, 0);
}

.borderd {
    border: 1px solid rgba(31, 212, 15, 0);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    background-color: #d9d4d4;
    border-radius: 20px;
    background: #d9d4d4;
    box-shadow: 20px 20px 60px #b8b4b4,
        -20px -20px 60px #faf4f4;
}

.answer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
}

.accuracy {}

.location-container {
    display: flex;
    align-items: center;
}

.location-icon {
    height: 20px;
}

.btns {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.edit-location {
    color: rgb(95, 95, 95);
    height: 70px;
    width: 180px;
    border-radius: 6px;
    background: #D9D4D4;
    box-shadow: 7px 7px 14px #bebebe,
        -7px -7px 14px #e9e9e9;
    transition: 0.5s;
}

.edit-location:focus,
.details:focus
.form-btn:focus {
    animation: buttonPress 0.5s forwards;
    outline: none;
}

.details {
    height: 70px;
    color: rgb(95, 95, 95);
    width: 180px;
    border-radius: 6px;
    background: #D9D4D4;
    box-shadow: 7px 7px 14px #bebebe,
        -7px -7px 14px #e9e9e9;
}

@keyframes buttonPress {
    0% {
        border-radius: 8px;
        background: #D9D4D4;
        box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px #e9e9e9;
        scale: 1;
    }

    50% {
        border-radius: 8px;
        background: #e0e0e0;
        box-shadow: inset 8px 8px 16px #bebebe, inset -8px -8px 16px #ffffff;
        scale: 0.99;
        color: rgb(202, 202, 202);
    }

    100% {
        border-radius: 8px;
        background: #D9D4D4;
        box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px #e9e9e9;
        scale: 1;
    }
}

.form {
    display: flex;
    gap: 10px;
}

.input {
    height: 25px;
    border-radius: 4px;
    outline: none;
    border: none;
    border: #b8b4b4;
    background: #e0e0e0;
    box-shadow: 3px 3px 6px #bebebe,
        -3px -3px 6px #ffffff;
    transition: transform 0.3s ease, border-radius 0.3s ease; /* Adicione esta linha */
}

.input:focus {
    border-radius: 10px; /* Corrija esta linha */
    transform: scale(1.05);
}

.form-btn {
    height: 28px;
    border-radius: 4px;
    outline: none;
    border: none;
    border: #b8b4b4;
    border-radius: 4px;
    background: #D9D4D4;
    box-shadow: 3px 3px 6px #bebebe,
        -3px -3px 6px #ffffff;
}